// Fonts

$font-size: 16px;
$font-family: "Proxima Nova",
Helvetica,
Arial,
sans-serif;


// Colors

$color-primary: #FFE600;
$color-secondary: #3483FA;
$color-light-gray-color: #EEEEEE;
$color-free-shipping: #1ed760;
$color-grey: #999999;
$color-grey-dark: #333333;
$background-section-color: #fff;

// Icons

$logo-icon-src: "Logo_ML";
$logo-icon-width: 53px;
$logo-icon-height: 36px;

$search-icon-src: "ic_Search";
$search-icon-width: 18px;
$search-icon-height: 18px;

$shipping-icon-src: "ic_shipping";
$shipping-icon-width: 18px;
$shipping-icon-height: 18px;



$search-bar-height: 36px;
$border-radius: 4px;
$item-thumb-width: 180px;
$item-thumb-height: 180px;

$item-image-width: 680px;
$item-image-height: auto;

$content-width: 940px;